.bannerPic{
    margin-top: 125px;
    margin-left: 65px;
    padding-bottom: 200px;
    height: 570px;
    border-radius: 20px;
    z-index: 0;
}

.bannerDescription{
    position: absolute;
    opacity: 1;
    padding: 80px;
    border-radius: 40px;
    background-color: rgb(251, 251, 251);
    top: 175px;
    margin-left: 750px;
}

.searchBarWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;  /* Change from row to column */
    align-items: center;  /* Center the items horizontally */
    margin-bottom: 20px;


    opacity: 1;
    width:425px;
    padding: 80px;
    margin-top: -470px;
    border-radius: 40px;
    background-color: rgb(251, 251, 251);
  }
  
  .searchTitle {
    
    margin-bottom: 10px;  /* Add some space between the title and the search bar */
}

  .searchBar {
    width: 60%;
    padding: 10px;
    font-size: 12px;
    font-weight: 20px;
    border-radius: 50px;
    border: 2px solid #000000;
  }

  .searchImg{
    border-radius: 20px;
   
    height: 570px;
    margin-left: 535px;
  }
  

.button-desc {
    text-align: center;
    margin-bottom: 20px;  /* Add some space between the description and the buttons */
    padding: 10px;  /* Adjust as needed */
}


.Row1, .Row2, .Row3, .Row4 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.gridButton {
    background-color: rgb(251, 251, 251);  /* To match existing background color */
    border: 2px solid #000000;  /* To match existing border */
    border-radius: 40px;  /* To match existing border-radius */
    color: #000000;  /* Text color */
    font-size: 11px;  /* Font size */
    padding: 8px 17px;  /* Padding for medium-sized buttons */
    margin: 3px;  /* Space between buttons */
    cursor: pointer;  /* Hand cursor on hover */
}

.rows_buttons {
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: center;
    margin-top: -785px;
    opacity: 1;
    background-color: rgb(251, 251, 251);  /* Same as banner and search bar */
    padding: 50px;  /* Adjust as needed */
    border-radius: 40px;  
    width: 38%;  
    margin-left: 800px;
   

}

.buttonImage{
    margin-top: 180px;
    margin-left: 65px;
    padding-bottom: 200px;
    height: 570px;
    border-radius: 20px;
    z-index: 0;
}

.button-desc{
    text-align: center;
}

.gridButton:hover{
    background-color: rgb(231, 231, 231);
    transition: .4s;
}

.modal, .results-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 10; /* to ensure the modal appears on top of other elements */
}

.modal h6, .results-modal h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal h2, .results-modal h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.modal input {
    align-items: center;
    width: 40%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-bottom: 40px;
}

.modal button, .results-modal button {
    background-color: rgb(251, 251, 251);
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.modal button:hover, .results-modal button:hover {
    background-color: rgb(231, 231, 231);
}

.error-message{
    color: red;
    font-size: 15px;
    margin-top: -25px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5; /* ensure it's below the modal */
}
.no-scroll {
    overflow: hidden;
}
.closeButton{
    margin-top: 30px;
}

@media (max-width: 975px) {
    .bannerPic {
      margin-top: 90px;
      margin-left: 20px;
      height: 100%;
      width: 90%;
    }
  
    .bannerDescription {
      position: relative;
      margin-top: -170px;
      top: 0;
      margin-left: 20px;
      padding: 40px;
      margin-bottom: 80px;
      overflow: hidden;   /* Add this */
    }
  
    .searchBarWrapper {
      margin-left: 20px;
      width: 80%;
      padding: 20px;      /* Reduced padding */
      margin-top: 15px;
    }
  
    .searchBar {
      width: 100%;
    }
  
    .searchImg {
      height: 100%;
      margin-left: 20px;
      width: 90%;
    }
  
    .gridButton{
        font-size: 9px;          /* Slightly larger font for readability */
        padding: 6px 12px;       /* Increased padding for easier touch interaction */
        border-radius: 30px;      /* Slightly reduced for aesthetic adjustment on smaller screens */
        margin: 3px;    

    }
    .rows_buttons {
      width: 80%;
      margin-left: 20px; 
      margin-top: -140px;
      padding: 10px;     /* Adjust padding if necessary */
    }
  
    .buttonImage {
      margin-top: 400px;
      margin-left: 20px;
      height: 100%;
      width: 90%;        /* Adjusted to match the other 90% widths */
    }
}
